.content-services-list {
  width: 90%;
  height: 100%;
  h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .grid1-style {
    background-color: aqua;
  }
  .grid2-style {
    background-color: rgba(76, 0, 255, 0.316);
  }
  .grid3-style {
    background-color: rgba(122, 163, 124, 0.316);
  }
  .grid4-style {
    background-color: rgba(196, 209, 102, 0.316);
    .img-content-grid{
      background-color: aqua;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .text-content-grid{
      background-color: aquamarine;
      p{
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 2rem;
      }
    }
  }
}
